*.log*
*.swp
tmp
*.bak
.bundle
.DS_Store
.svn
.sass-cache
tags
*.~*
*.*~
Thumbs.db
*.o
*.a
*.ulog
*.pid
casket 
casket-* 
casket.* 
*.tch
*.tcb
*.tcf
*.tct
*.idx.*
*.pyc
*.dSYM
*.cache
*.zip
config.status
aclocal.m4
build/
node_modules
